services:
  - type: web
    name: scanoss-app
    env: python
    buildCommand: pip install -r backend/requirements.txt
    startCommand: gunicorn backend.app:app -w 1 -b 0.0.0.0:10000
    plan: free
